<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered Your Secrets!</h1>
     <!-- Tweaking into Secrets Array of an user -->    
    <% secrets.map(secret=>{ %>
      <div class="container text-center">
        <div class="row justfiy-content-md-center"> 
          <div class="col">
          <p class="secret-text"><%= secret %>  </p></div>
          <div class="col-md-auto">
        <form action="/delete" method="post">
          <button class="btn btn-danger" type="submit" name="Delete" value="<%= secret %>">X</button>
         </form>
        </div>
        </div>
        </div>
     
        
        <% }) %>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
